*{
  margin: 0;
  padding: 0;
}
body, html{
  height:100%;
    padding:0;
    margin:0;
}
header{
  position: fixed;
  z-index: 999;
  width:100%;
  margin-top:0;
  padding-top:0;
  background-color: white;
  height:90px;
}


.flexContainer{
  width:100%;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

div img{
  margin-left: 30px;
  margin-top:10px;
}

.logo{
  width: 100px;
  margin-top: 30px;
  margin-left: 10px;
  color:MediumAquamarine;
  align-content: center;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}
.box{
  margin-right:5px;
  width: 58px;
}
a{
  color: black;
}
.navFlex{
  margin-top: 35px;
  margin-right: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.mainContentContainer{
  position:relative;
  top: 90px;
  width: 100%;
  display:inline-flex;
  justify-content:center;
}

.firstColumn{
  margin: 30px 20px;
  display:inline-flex;
  flex-direction: column;
  width: 630px;
  height: 1125px;
  justify-content: space-between;
  flex-shrink: 0;
}
.secondColumn{
  margin: 30px 20px;
  display:flex;
  flex-direction: column;
  width: 300px;
  height: 925px;
  justify-content: space-between;
  flex-shrink: 0;
}
.thirdColumn{
  margin: 30px 20px;
  display:flex;
  flex-direction: column;
  width: 240px;
  height: 600px;
  justify-content: space-between;
  flex-shrink: 0;
}
.thirdColumn img{
  margin-left:auto;
}
p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.motherImage{
  height: 300px;
  background-size: 100% auto;
  background-image: url('./resources/images/wine.png');
  background-repeat: no-repeat;
  display:flex;
}
.imageHeadlines.mainImage{
  font-size: 40px;
  text-align: left;
}
.imageHeadlines{
  margin:auto auto;
  font-family: Georgia;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: white;
}
.cookieImage{
  height: 240px;
  background-image: url('./resources/images/cookie.png');
  background-repeat: no-repeat;
}
.girlImage{
  height: 300px;
  display: flex;
  justify-content: center;
  background-image: url('./resources/images/girl.png');
  background-repeat: no-repeat;
}
.guyImage{
  display: flex;
  height: 300px;
  background-image: url('./resources/images/guy.png');
  background-repeat: repeat-x;
}

.catImage{
  height: 300px;
  display: flex;
  justify-content: center;
  background-image: url('./resources/images/cat.png');
  background-repeat: repeat-x;
}
.earthColumn {
  display: inline-flex;
  width: 300px;
  flex-direction: column;
  height:550px;
  justify-content: space-between;

}
.guyColumn {
  display: inline-flex;
  width: 300px;
  flex-direction: column;
  height:550px;
  justify-content: space-between;
}
.doubleColumn{
  display: inline-flex;
  justify-content: space-between;
}
h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}
.bitesList{
  align-content: flex-end;
  height: 275px;
  display: flex;
  flex-direction: column;
  flex-shrink: 3;
  background-color: WhiteSmoke;
  justify-content: space-around;
}

.bitesList span{
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.footerContainer{
  margin-top: 100px;
  position: relative;
  background-color: MediumAquamarine;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  flex-direction: column;
}
.footerRow1{
  width: 420px;
  display:inline-flex;
}
.footerRow1 span{
  padding: 0px 15px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.footerNav{
  display: flex;
  margin:auto;

}
.footerNav span{
  display:inline-flex;
  padding: 0px 15px;
  font-family: Verdana;
  font-size: 12px;
}
.footerRow2{
  display:flex;
  padding: 20px;
  font-family: Verdana;
  font-size: 12px;
}
